// RESET
// Smooths out the rough edges across browsers
@import "./defaults/normalize";

// VARIABLES
// Reusable settings
@import "./_colors";
@import "./_fonts";
@import "./_maps";

// OTHER DEFAULT STYLES
// Smooths out the rough edges across browsers
@import "./defaults/article";
@import "./defaults/dataviz";

// OTHER CUSTOM STYLES
@import "./calculator.scss";
// YOUR CODE
// Starting writing your stuff below here

.app {
  // MUI Switch Overrides:
  .MuiFormGroup-root {
    display: block;
    background-color: white;
    position: absolute;
    top: 60px;
    left: 10px;
    border-radius: 4px;
    flex-direction: row;
    padding-left: 1rem;

    span {
      margin: 0rem;
      font-family: $sans;
      font-size: 0.75rem;
      font-weight: 200;
    }

    .MuiSwitch-root {
      margin-left: 0.4rem;
    }
  }

  // MapBox Overrides:
  .mapboxgl-ctrl-geocoder {
    font-family: $sans;
    font-size: 0.875rem;
    font-weight: 200;
  }
}
