// RESET
// Smooths out the rough edges across browsers
@import "./defaults/normalize";

// VARIABLES
// Reusable settings
@import "./_colors";
@import "./_fonts";
@import "./_maps";

// OTHER DEFAULT STYLES
// Smooths out the rough edges across browsers
@import "./defaults/article";
@import "./defaults/dataviz";

// OTHER CUSTOM STYLES

// YOUR CODE
// Starting writing your stuff below here

// Disable double-tap to zoom on touch devices
body {
  touch-action: manipulation;
}

.app {
  // MUI Switch Overrides:
  .MuiFormGroup-root {
    display: block;
    background-color: #fff;
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 10%);
    position: absolute;
    top: 70px;
    left: 10px;
    border-radius: 4px;
    flex-direction: row;
    padding-left: 1rem;

    @media screen and (min-width: 740px) {
      top: 55px;
    }

    span {
      margin: 0rem;
      font-family: $sans;
      font-size: 0.85rem;
      font-weight: 200;
    }

    &.turnout-map-selected > span {
      font-weight: 400;
    }

    &.margins-map-selected .MuiTypography-root {
      font-weight: 400;
    }

    .MuiSwitch-root {
      margin-left: 0.65rem;
    }

    .MuiSwitch-thumb {
      background-color: #bbb;
    }
  }

  // MapBox Overrides:
  .mapboxgl-ctrl-top-left {
    max-width: 75%;
  }
  .mapboxgl-ctrl-geocoder {
    font-family: $sans;
    font-size: 0.875rem;
    font-weight: 200;
  }

  .maplibregl-ctrl-bottom-left {
    pointer-events: "all";
    details.mapboxgl-ctrl-attrib {
      padding: 2px 8px 2px 16px;
      .maplibregl-ctrl-attrib-inner {
        margin-left: 16px;
        a {
          color: $city-black;
        }
      }
    }
  }

  // Loading Screen:
  .loading-screen {
    width: 100%;
    height: 600px;
    background-color: #dedddd;
    display: flex;
    justify-content: center;
    align-items: center;
    > div {
      text-align: center;
    }
  }

  // Waffle Chart:
  .waffle-chart-section {
    display: flex;
    .waffle-chart-container {
      width: 25%;
      height: 400px;
    }
  }
}
